{"openapi":"3.0.3","info":{"title":"Construction","version":"1","description":"Use Construction functionality to represent project work in a visual hierarchy (work breakdown structure), using the project, task, and cost type dimensions.","x-vendored":"subset: POST project-contract, POST project-change-order and every schema they reference","x-source":"https://developer.sage.com/intacct/apis/intacct/1/intacct-openapi/groups/construction (Download full spec)","x-retrieved":"2026-09-21","x-trimmed":"description/example/title/summary annotation keywords removed; properties with those names kept"},"servers":[{"url":"https://api.intacct.com/ia/api/v1","x-try-it":"sage-intacct-api"}],"paths":{"/objects/construction/project-contract":{"post":{"operationId":"create-construction-project-contract","requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/objects.construction.project-contract"},{"$ref":"#/components/schemas/construction-project-contractRequiredProperties"}]}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"ia::result":{"$ref":"#/components/schemas/object-reference"},"ia::meta":{"$ref":"#/components/schemas/metadata"}}}}}}}}},"/objects/construction/project-change-order":{"post":{"operationId":"create-construction-project-change-order","requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/objects.construction.project-change-order"},{"$ref":"#/components/schemas/construction-project-change-orderRequiredProperties"}]}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"ia::result":{"$ref":"#/components/schemas/object-reference"},"ia::meta":{"$ref":"#/components/schemas/metadata"}}}}}}}}}},"components":{"schemas":{"objects.construction.project-contract":{"type":"object","properties":{"key":{"type":"string","readOnly":true},"id":{"type":"string"},"href":{"type":"string","readOnly":true},"name":{"type":"string"},"project":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"location":{"$ref":"#/components/schemas/project-location-ref"},"customer":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"contractDate":{"type":"string","format":"date"},"projectContractType":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"architect":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"isBillable":{"type":"boolean","default":false},"attachment":{"$ref":"#/components/schemas/attachment-ref"},"status":{"$ref":"#/components/schemas/status"},"billing":{"type":"object","properties":{"billedPrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"totalBilledNetRetainage":{"type":"string","format":"decimal-precision-2","readOnly":true},"percentBilled":{"type":"string","format":"decimal-precision-2","readOnly":true},"percentBilledNetRetainage":{"type":"string","format":"decimal-precision-2","readOnly":true},"totalRetainageHeld":{"type":"string","format":"decimal-precision-2","readOnly":true},"totalRetainageReleased":{"type":"string","format":"decimal-precision-2","readOnly":true},"retainageBalance":{"type":"string","format":"decimal-precision-2","readOnly":true},"balanceToBill":{"type":"string","format":"decimal-precision-2","readOnly":true},"balanceToBillNetRetainage":{"type":"string","format":"decimal-precision-2","readOnly":true},"totalPaymentsReceived":{"type":"string","format":"decimal-precision-2","readOnly":true},"netTotalBilled":{"type":"string","format":"decimal-precision-2","readOnly":true},"netTotalPaymentsReceived":{"type":"string","format":"decimal-precision-2","readOnly":true},"subtotalBilledAsTax":{"type":"string","format":"decimal-precision-2","readOnly":true},"subtotalBilledAsDiscount":{"type":"string","format":"decimal-precision-2","readOnly":true},"subtotalBilledAsCharge":{"type":"string","format":"decimal-precision-2","readOnly":true},"lastApplicationNumber":{"type":"string"},"currency":{"type":"object","properties":{"billingCurrency":{"type":"string"},"exchangeRate":{"type":"object","properties":{"date":{"type":"string","format":"date"},"typeId":{"type":"string","readOnly":true},"rate":{"type":"number"}}}}}}},"excludeFromWIPReporting":{"type":"boolean","default":false},"scope":{"type":"string"},"inclusions":{"type":"string"},"exclusions":{"type":"string"},"terms":{"type":"string"},"taxSchedule":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}},"taxSolution":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}},"glBudgetPosting":{"type":"object","properties":{"isPosted":{"type":"boolean","default":false},"postingPeriodBasedOn":{"type":"string","enum":["projectBeginDate","projectContractDate","projectContractLineDate","entryEffectiveDate"],"default":"projectContractDate"},"originalGLBudget":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}},"revisionGLBudget":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}},"pendingGLBudget":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}},"approvedGLBudget":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}},"forecastGLBudget":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}},"otherGLBudget":{"type":"object","properties":{"key":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"href":{"type":"string","readOnly":true,"nullable":true}}}}},"schedule":{"$ref":"#/components/schemas/schedule-calendar"},"internalReference":{"$ref":"#/components/schemas/internal-document-ref"},"externalReference":{"$ref":"#/components/schemas/external-document-ref"},"audit":{"$ref":"#/components/schemas/audit.s1"},"entity":{"$ref":"#/components/schemas/entity-ref"},"description":{"type":"string"},"summary":{"type":"object","readOnly":true,"properties":{"totalPrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"originalPrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"revisionPrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"approvedChangePrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"pendingChangePrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"otherPrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"forecastPrice":{"type":"string","format":"decimal-precision-2","readOnly":true}}}}},"project-location-ref":{"type":"object","properties":{"key":{"type":"string","readOnly":false},"id":{"type":"string","readOnly":false},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"attachment-ref":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"status":{"type":"string","enum":["active","inactive"],"default":"active"},"schedule-calendar":{"type":"object","properties":{"scheduledStartDate":{"type":"string","format":"date"},"actualStartDate":{"type":"string","format":"date"},"scheduledCompletionDate":{"type":"string","format":"date"},"revisedCompletionDate":{"type":"string","format":"date"},"substantialCompletionDate":{"type":"string","format":"date"},"actualCompletionDate":{"type":"string","format":"date"},"noticeToProceedDate":{"type":"string","format":"date"},"responseDueDate":{"type":"string","format":"date"},"executedOnDate":{"type":"string","format":"date"},"scheduleImpact":{"type":"string"}}},"internal-document-ref":{"type":"object","properties":{"referenceNumber":{"type":"string"},"initiatedBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"verbalApprovalBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"issuedBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"issuedOnDate":{"type":"string","format":"date"},"approvedBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"approvedOnDate":{"type":"string","format":"date"},"signedBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"signedOnDate":{"type":"string","format":"date"},"source":{"type":"string"},"sourceReferenceNumber":{"type":"string"}}},"external-document-ref":{"type":"object","properties":{"referenceNumber":{"type":"string"},"verbalApprovalBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"approvedBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"approvedOnDate":{"type":"string","format":"date"},"signedBy":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"signedOnDate":{"type":"string","format":"date"}}},"audit.s1":{"type":"object","readOnly":true,"properties":{"createdDateTime":{"type":"string","format":"date-time","readOnly":true},"modifiedDateTime":{"type":"string","format":"date-time","readOnly":true},"createdBy":{"type":"string","readOnly":true,"nullable":true,"deprecated":true},"modifiedBy":{"type":"string","readOnly":true,"nullable":true,"deprecated":true},"createdByUser":{"type":"object","readOnly":true,"properties":{"key":{"type":"string","readOnly":true,"nullable":true},"id":{"type":"string","readOnly":true,"nullable":true},"href":{"type":"string","readOnly":true}}},"modifiedByUser":{"type":"object","readOnly":true,"properties":{"key":{"type":"string","readOnly":true,"nullable":true},"id":{"type":"string","readOnly":true,"nullable":true},"href":{"type":"string","readOnly":true}}}}},"entity-ref":{"type":"object","readOnly":true,"properties":{"key":{"type":"string","readOnly":true,"nullable":true},"id":{"type":"string","readOnly":true,"nullable":true},"name":{"type":"string","readOnly":true,"nullable":true},"href":{"type":"string","readOnly":true}}},"construction-project-contractRequiredProperties":{"type":"object","required":["name","project","customer","contractDate"]},"object-reference":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"metadata":{"type":"object","properties":{"totalCount":{"type":"integer","readOnly":true},"totalSuccess":{"type":"integer","readOnly":true},"totalError":{"type":"integer","readOnly":true}}},"objects.construction.project-change-order":{"type":"object","properties":{"key":{"type":"string","readOnly":true},"id":{"type":"string"},"href":{"type":"string","readOnly":true},"project":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"location":{"type":"object","readOnly":true,"properties":{"key":{"type":"string","readOnly":true},"id":{"type":"string","readOnly":true},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"projectChangeOrderDate":{"type":"string","format":"date"},"state":{"type":"string","enum":["draft","posted"],"default":"draft"},"changeRequestStatus":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"projectContract":{"type":"object","allOf":[{"$ref":"#/components/schemas/project-contract-ref"}]},"projectContractLine":{"type":"object","allOf":[{"$ref":"#/components/schemas/project-contract-line-ref"}]},"priceEffectiveDate":{"type":"string","format":"date"},"totalCost":{"type":"string","format":"decimal-precision-2","readOnly":true},"totalPrice":{"type":"string","format":"decimal-precision-2","readOnly":true},"sendToContact":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"href":{"type":"string","readOnly":true}}},"item":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"customer":{"type":"object","properties":{"key":{"type":"string","readOnly":true},"id":{"type":"string","readOnly":true},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}},"readOnly":true},"scope":{"type":"string"},"inclusions":{"type":"string"},"exclusions":{"type":"string"},"terms":{"type":"string"},"schedule":{"$ref":"#/components/schemas/schedule-calendar"},"internalReference":{"$ref":"#/components/schemas/internal-document-ref"},"externalReference":{"$ref":"#/components/schemas/external-document-ref"},"attachment":{"$ref":"#/components/schemas/attachment-ref"},"status":{"$ref":"#/components/schemas/status"},"audit":{"$ref":"#/components/schemas/audit.s1"},"entity":{"$ref":"#/components/schemas/entity-ref"},"description":{"type":"string"}}},"project-contract-ref":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"project-contract-line-ref":{"type":"object","properties":{"key":{"type":"string"},"id":{"type":"string"},"name":{"type":"string","readOnly":true},"href":{"type":"string","readOnly":true}}},"construction-project-change-orderRequiredProperties":{"type":"object","required":["project","projectChangeOrderDate","item","priceEffectiveDate"]}}}}